#main-wrapper {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
}

#card-wrapper {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 8px;
}

#capper {
  width: 100%;
  display: flex;
  justify-content: space-between;
  height: 50px;
  border-radius: 5px;
  background-color: #fff;
  margin-bottom: 5px;
}

#fil {
  border-right: 1px dotted grey;
}

#sort,
#fil {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  font-family: "Montserrat", sans-serif;
}

#cod {
  display: none;
}

#card {
  border-radius: 5px;
  padding: 4px;
  background-color: white;
  margin-bottom: 4px;
  height: 60vh;
}

#card:hover {
  box-shadow: 1px 1px 10px 1px rgb(163, 163, 163);
  padding: 0px;
}

.img {
  height: 50%;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

#cap {
  height: 35%;
  margin-top: 5px;
  padding-left: 5px;
  padding-right: 5px;
}

#name {
  border-bottom: 1px solid grey;
  font-family: "Montserrat", sans-serif;
  font-weight: 600;
  font-size: 12px;
  padding-bottom: 5px;
}

#price {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 600;
}

#sold {
  font-size: 9px;
  font-family: "Roboto", sans-serif;
}

#add {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  background-color: #f04685;
  height: 40px;
  display: flex;
  font-family: "Montserrat", sans-serif;
  font-size: 15px;
  font-weight: 500;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  color: white;
}

#add:hover {
  background-color: rgb(82, 82, 82);
}

/* for Tablet */
/* 00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

@media only screen and (min-width: 426px) {
  #main-wrapper {
    width: 90%;
    justify-content: space-between;
  }

  #card-wrapper {
    grid-template-columns: 1fr 1fr 1fr;
  }

  #card {
    background-color: white;
    margin-bottom: 5px;
    height: 70vh;
  }

  #img {
    width: 100%;
    height: 50%;
  }
}

/* for Laptop */

@media only screen and (min-width: 769px) {
  #main-wrapper {
    width: 75%;
  }
  #card-wrapper {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  #card {
    padding: 4px;
    height: 60vh;
    background-color: white;
    margin-bottom: 5px;
  }

  #capper {
    width: 100%;
    height: 50px;
    justify-content: space-between;
    background-color: #fff;
    margin-bottom: 5px;
  }

  #sort {
    width: 100%;
    display: flex;
    margin-right: 50px;
    justify-content: flex-end;
    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  #cap {
    height: 35%;
    margin-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
  }

  #name {
    font-size: 15px;
    border-bottom: 1px solid grey;
  }

  #price {
    font-size: 18px;
    margin-top: 5px;
  }

  #sold {
    font-size: 10px;
    font-family: "Roboto", sans-serif;
  }

  #cod {
    display: block;
    width: 100%;
    display: flex;
    margin-left: 50px;

    align-items: center;
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
  }

  #fil {
    border-right: 1px dotted grey;
    display: none;
  }
}

/* color: red */
