#specification {
  height: 600px;
  /* padding: 10px;s */
}

#info-img-cont {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}

#info-img {
  width: 90%;
  filter: drop-shadow(0px 16px 18px #cbcbcb);
  border-radius: 8px;
  height: 19rem;
}

#spec {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  margin-top: 15px;
  margin-left: 5.6%;
  margin-right: 5.6%;
  border-bottom: 2px solid rgb(128, 128, 128);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#info-price {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  margin-left: 5.6%;
  margin-right: 5.6%;
  border-bottom: 2px solid rgb(128, 128, 128);
  margin-bottom: 10px;
}

#toCart {
  background: #f04685;
  height: 50px;
  width: 119px;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}

#toCart1 {
  display: none;
}

#description {
  font-family: "Open Sans";
  font-size: 16px;
  font-weight: 600;
  text-align: justify;
  font-style: normal;
  width: 90%;
  margin: auto;
}

h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  border-top: 1px solid #4676f0;
  height: 45px;
  border-bottom: 1px solid #4676f0;
  background-color: #f1f1f1;
  margin-top: 30px;
  /* width: 90%; */
  padding-left: 20px;
  display: flex;
  border-radius: 10px;
  font-size: 25px;
  align-items: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 40px;
}

/*TABLET*/
@media only screen and (min-width: 426px) {
  #info-img-cont {
    width: 45%;
    margin-left: 5%;
    margin-right: 3%;
  }

  #sus-1 {
    display: flex;
  }

  #sus-child-1 {
    padding-top: 5px;
    width: 50%;
  }

  #info-img {
    height: 19.125rem;
    margin: 0 auto;
    max-width: 30.125rem;
    vertical-align: middle;
  }

  #spec {
    margin-top: 40px;
    font-size: 20px;
    padding-bottom: 12px;
    width: 80%;
  }

  #info-price {
    font-size: 30px;
    width: 80%;
  }

  #toCart {
    width: 119px;
  }

  #description {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60%;
    margin-left: 5%;
  }

  #qty-cont {
    margin-left: 5%;
    margin-top: 15px;
  }

  #change {
    background: #f04685;
    width: 40px;
    height: 40px;
    border: none;
    justify-content: center;
  }

  #qty {
    height: 40px;
    width: 40px;
    padding-left: 10px;
  }

  #sold {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5%;
  }

  #toCart {
    display: none;
  }

  #toCart1 {
    display: block;
    background: #f04685;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10px;
  }

  h3 {
    height: 70px;
  }
}

@media only screen and (min-width: 769px) {
  #info-img-cont {
    width: 45%;
    margin-left: 5%;
    margin-right: 3%;
  }

  #sus-1 {
    display: flex;
  }

  #sus-child-1 {
    padding-top: 5px;
    width: 50%;
  }

  #info-img {
    height: 30.125rem;
    margin: 0 auto;
    max-width: 30.125rem;
    vertical-align: middle;
  }

  #spec {
    margin-top: 40px;
    font-size: 20px;
    padding-bottom: 12px;
    width: 80%;
  }

  #info-price {
    font-size: 30px;
    width: 80%;
  }

  #toCart {
    width: 119px;
  }

  #description {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 20px;
    width: 60%;
    margin-left: 5%;
  }

  #qty-cont {
    margin-left: 5%;
    margin-top: 15px;
  }

  #change {
    background: #f04685;
    width: 40px;
    height: 40px;
    border: none;
  }

  #qty {
    height: 40px;
    width: 40px;
    justify-content: center;
  }

  #sold {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5%;
  }

  #toCart {
    display: none;
  }

  #toCart1 {
    display: block;
    background: #f04685;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10px;
  }

  h3 {
    height: 70px;
  }
}
