#specification {
  height: max-content;
  background-color: white;
  margin-top: 10px;
}

#info-img-cont {
  width: 100%;
  padding: 10px;
  height: 50%;
  display: flex;
}

#info-img {
  width: 100%;
  height: auto;
}

#spec,
#info-price {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 25px;
  margin-top: 15px;
  margin-left: 5.6%;
  margin-right: 5.6%;
  border-bottom: 0.5px solid rgb(207, 207, 207);
  padding-bottom: 5px;
  margin-bottom: 5px;
}

#toCart {
  background: #f04685;
  height: 50px;
  width: 119px;
  border-radius: 10px;
  border-style: none;
  color: white;
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 700;
  font-size: 15px;
}

#toCart1 {
  display: none;
}

#description {
  margin: 10px;
  padding: 10px;
  background-color: white;
  font-family: "Roboto", sans-serif;
}

#h4 {
  font-family: "Montserrat", sans-serif;
  border-bottom: 1px solid #bbbbbb;
  display: flex;
  height: 35px;
  align-items: center;
  margin-bottom: 10px;
}

/*TABLET*/
@media only screen and (min-width: 426px) {
  #info-img-cont {
    width: 42%;
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 30px;
    height: 10%;
  }

  #sus-1 {
    display: flex;
  }

  #sus-child-1 {
    padding-top: 5px;
    width: 50%;
  }

  #spec {
    margin-top: 40px;
    padding-bottom: 12px;
    width: 80%;
  }

  #info-price {
    font-size: 30px;
    width: 80%;
  }

  #qty-cont {
    margin-left: 5%;
    margin-top: 15px;
  }

  #change {
    background: #f04685;
    width: 40px;
    height: 40px;
    border: none;
    justify-content: center;
  }

  #qty {
    height: 40px;
    width: 40px;
    padding-left: 10px;
  }

  #sold {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5%;
  }

  #toCart1,
  #buyNow {
    display: block;
    background: #f04685;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10px;
  }

  #buyNow {
    background-color: #4676f0;
    margin-bottom: 5px;
  }

  h3 {
    height: 70px;
  }
}
/* LAPTOP */
@media only screen and (min-width: 769px) {
  #specification {
    margin-top: 55px;
  }

  /* #info-img-cont {
    margin-top: 30px;
  } */

  #sus-1 {
    display: flex;
  }

  #sus-child-1 {
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    width: 50%;
  }

  /* #info-img {
  } */

  #spec {
    margin-top: 40px;
    padding-bottom: 12px;
    width: 80%;
  }

  #info-price {
    font-size: 30px;
    width: 80%;
  }

  #toCart {
    width: 119px;
  }

  #description {
    width: 49%;
    margin-left: 0;
    margin-right: 0;
  }

  #qty-cont {
    margin-left: 5%;
    margin-top: 15px;
  }

  #change {
    background: #f04685;
    width: 40px;
    height: 40px;
    border: none;
  }

  #qty {
    height: 40px;
    width: 40px;
    justify-content: center;
  }

  #sold {
    font-size: 15px;
    margin-top: 10px;
    margin-left: 5%;
  }

  #toCart {
    display: none;
  }

  #toCart1 {
    display: block;
    background: #f04685;
    height: 40px;
    width: 250px;
    border: none;
    border-radius: 3px;
    color: white;
    font-family: "Open Sans";
    font-size: 15px;
    margin-left: 5%;
    margin-top: 10px;
  }

  h3 {
    height: 70px;
  }
}
