* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}

#body {
  background-color: rgb(224, 224, 224);
}

#products {
  margin-top: 50px;
  padding: 4px;
}

/* for Tablet */
/* 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */
@media only screen and (min-width: 426px) {
  #body {
    background-color: rgb(224, 224, 224);
  }

  #products {
    display: flex;
    margin-top: 50px;

    margin-left: auto;
    margin-right: auto;
  }
}

/* for Laptop */
/* 0000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000 */

@media only screen and (min-width: 769px) {
  #body {
    background-color: rgb(247, 247, 247);
  }

  #products {
    display: flex;
    margin-top: 50px;
    width: 90%;
    justify-content: space-between;
    padding: 4px;
    margin-left: auto;
    margin-right: auto;
  }
}
