#seo-sect {
  background-color: white;
  border: 2px solid rgb(235, 235, 235);
  padding: 10px;
  margin-top: 30px;
}

#seo-title {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  font-size: 15px;
}

#keyword-inpt {
  width: 50%;
  margin-top: 10px;
  height: 20px;
}

@media screen and (min-width: 1024px) {
  #seo-sect {
    background-color: white;
    border: 2px solid rgb(235, 235, 235);
    padding: 40px;
    margin-top: 50px;
  }

  #seo-title {
    font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS",
      sans-serif;
    font-size: 30px;
  }

  #keyword-inpt {
    width: 380px;
    height: 20px;
  }
}
